[project]
	description = Pure Java implementation of Microsoft Authenticode for signing Windows executable files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Erwin Tratar (erwint)
[access "refs/for/refs/*"]
	read = group user/Erwin Tratar (erwint)
	push = group user/Erwin Tratar (erwint)
	label-Code-Review = -2..+2 group user/Erwin Tratar (erwint)
	label-Verified = -1..+1 group user/Erwin Tratar (erwint)
	rebase = group user/Erwin Tratar (erwint)
	removeReviewer = group user/Erwin Tratar (erwint)
	submit = group user/Erwin Tratar (erwint)
[access "refs/heads/*"]
	read = group user/Erwin Tratar (erwint)
	create = group user/Erwin Tratar (erwint)
	push = +force group user/Erwin Tratar (erwint)
	pushMerge = group user/Erwin Tratar (erwint)
[access "refs/tags/*"]
	push = +force group user/Erwin Tratar (erwint)
	pushTag = group user/Erwin Tratar (erwint)
	pushSignedTag = group user/Erwin Tratar (erwint)
